<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufam.edu.br.treasurequest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CriarTimeActivity"
            android:label="@string/title_activity_criar_time"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AdicionarJogadorActivity"
            android:label="@string/title_activity_adicionar_jogador"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AguardandoConexaoActivity"
            android:label="@string/title_activity_aguardando_conexao"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TreasureQuestBarraActivity"
            android:label="@string/title_activity_treasure_quest_barra"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TreasureQuestPerguntaActivity"
            android:label="@string/title_activity_treasure_quest_pergunta"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".EntrarTImeActivity"></activity>
    </application>

</manifest>